.board {
  background-color: blue;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__patron {
  background-color: blueviolet;
  height: 200px;
  width: 40px;
}

.board__shots {
  background-color: red;
  height: 200px;
  width: 200px;
}
